    <!-- +++++++++ Footer ++++++++++ -->

<section id="footer">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <br><br>
                    <h3>KNA Portal</h3>
                    <p>Is a service run by the Kenya News Agency in the Department of Information, Ministry of Information, Communications and Technology.</p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#">First Family</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#">Cabinet Secretaries</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#">Permanent Secretaries</a></li>

                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        Uchumi House, 5th floor<br>
                        Aga Khan Walk<br>
                        Nairobi, Kenya <br />
                        <strong>Phone:</strong> 020 2223203<br>
                        <strong>Email:</strong>  knaportal@kenyanewsagency.go.ke<br>
                    </p>

                    <div class="social-links">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 footer-newsletter">
                    <h4>External Links</h4>
                    <p>Coming Soon..........</p>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            <h5>  &copy; Copyright <strong>BonFAM</strong>. All Rights Reserved</h5>
        </div>
    </div>
</section>