 {% load staticfiles %}
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/jquery-1.8.2.min.js' %}"></script>
<script src="{% static 'js/jquery-1.10.2.js' %}"></script>
<script src="{% static 'js/jquery.ui.map.min.js' %}"></script>

<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/respond.js' %}"></script>

<script src="{% static 'app/scripts/jquery.flexslider.js' %}"></script>
<script src="{% static 'app/scripts/jflickrfeed.js' %}"></script>
<script src="{% static 'app/scripts/jquery.quicksand.js' %}"></script>
<script src="{% static 'app/scripts/jquery.tweet.js' %}"></script>
<script src="{% static 'app/scripts/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'app/scripts/wow.js' %}"></script>
<script src="{% static 'app/scripts/wow.min.js' %}"></script>
<script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
