{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- +++++++++ welcome span ++++++++++ -->

<section id="headerwrap">
    <header class="clearfix">
        <h1><span>KNA Gallery Portal</span><br /> Introducing Kenya News Agency online repository of the most inspiring photos</h1>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h2>
                        Find the perfect image to enhance your next creative project.<br>Right inside KNA Portal.
                    </h2>

                </div>
            </div>

        </div>
    </header>

</section>

<!-- +++++++++ Category ++++++++++ -->

<section id="category">
    <div class="container">
        <div class="heading">
            <h3>CATEGORY</h3>
            <p>Clik to choose category of the album</p>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6 wow fadeInUp">
                <div class="member">
                    <figure>
                        <img src="static/media/jkf1.jpg" img style="width:262px" class="img-fluid" alt="">
                        <figcaption><h5>Families of the Past and Current Kenya Presidents</h5></figcaption>
                    </figure>

                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>First Family</h4>
                            <span>Kenyatta,Moi & Kibaki </span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="member">
                    <img src="static/media/6.jpg" img style="width: 262px" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Cabinet Secretaties</h4>
                            <span>For President Jomo,Moi,Kibaki & Uhuru Admin</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="member">
                    <img class='album-img' src="static/media/5.jpg" img style="width:262px" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Official Portraits</h4>
                            <span>For Kenyan Presidents</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="member">
                    <img src="static/media/9.jpg" img style="width:262px" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Featured Stories</h4>
                            <span>**************</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

{% endblock %}


{% block scripts %}


{% endblock %}