

/* ----- BODY----- */

body {
    padding-top:0.5px;
    background: url(../img/back.jpg) no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #888;
    font-size: 12px;
}

strong { font-weight: bold; }


/* ----- Header ----- */

.sticky {
    position: fixed;
    width: 100%
}


.header.navbar {

    margin: 0;
}

#header .navbar-inner {
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.header h1 {
    float: left;
    margin: 0;
    text-align: left;
}

.header a.brand {
    margin: 0;
    display: inline-block;
    text-indent: -9999px;
    padding: 30px 0;
    background: url(../img/logo.png) 20px center no-repeat;
}

.header ul.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.header ul.nav li a {
    padding: 30px 20px 10px 20px;
    color: #5d5d5d;
    text-shadow: none;
}

.header ul.nav li.current-page a {
    padding-top: 25px;
    border-top: 5px solid #9d426b;
    background: #f8f8f8;
}

.header ul.nav li a:hover {
    background: #9d426b;
    color: #fff;
}

.header ul.nav li a i {
    line-height: 35px;
    color: #aaa;
}

.header ul.nav li a:hover i { color: #fff; }


/* ----- Home body ----- */
#headerwrap {

    padding:50px;
    width: 100%;
    background-size: cover;
    min-height: 600px;
    margin-top: -60px;
    padding-top: 160px;
    text-align: center;
}
    #headerwrap h1 {
        font-family: 'Patua One', cursive;
        color: #1C2833;
        font-size: 4em;
        font-weight: 400;
        margin: 1em 0;
    }

    #headerwrap h2 {
       
        font-family: 'Open Sans', sans serif;
        font-size: 2em;
        font-weight: normal;
        margin: 0.5em 0;
        text-shadow: 1px 1px 1px #333333;
    }

    #headerwrap h1 span {
        color: #008000;
    }


      /* CATEGORY */
#category {
    padding:20px 0;
  
}
    #category .heading h3 {
         font-family: 'Patua One', cursive;
        font-size: 25px;
        font-weight:normal;
        color: #E5E7E9;
        text-transform: uppercase;
        position: relative;
    }
    #category .member {
        text-align: center;
        position: relative;
    
    }

        #category .member .member-info {
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
            transition: 0.2s;
        }

        #category .member .member-info-content {
            margin-top: 0;
            transition: margin 0.2s;
        }

        #category .member:hover .member-info {
            background: rgba(0, 0, 0, 0.7);
            opacity: 1;
            transition: 0.4s;
        }

        #category .member:hover .member-info-content {
            margin-top: 0;
            transition: margin 0.4s;
        }

        #category .member h4 {
            font-weight: 700;
            margin-bottom: 2px;
            font-size: 18px;
            color: #fff;
        }

        #category .member span {
            font-style: italic;
            display: block;
            font-size: 13px;
            color: #fff;
        }

        #category .member .social {
            margin-top: 15px;
        }

            #category .member .social a {
                transition: none;
                color: #fff;
            }

                #category .member .social a:hover {
                    color: #18d26e;
                }

            #category .member .social i {
                font-size: 18px;
                margin: 0 2px;
            }

/*       Footer            */

.footer {
    background: #000;
    color: #5499C7;
    font-size: 14px;
    position: fixed;
    width: 100%
}

#footer .footer-top {
    background: #515A5A;
    padding: 0 30px 0;
}

        #footer .footer-top .footer-info {
            margin-bottom: 30px;
        }

            #footer .footer-top .footer-info h3 {
                font-size: 24px;
                margin: 10px 10px 10px 10px;
                line-height: 1;
                font-weight: 700;
                letter-spacing: 2px;
                border-left: 6px solid #18d26e;
                border-right: 6px solid #18d26e;
            }

            #footer .footer-top .footer-info p {
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 0;
                font-family: "Montserrat", sans-serif;
                color: #eee;
            }

        #footer .footer-top .social-links a {
            font-size: 18px;
            display: inline-block;
            background: #333;
            color: #eee;
            line-height: 1;
            padding: 8px 0;
            margin-right: 4px;
            border-radius: 50%;
            text-align: center;
            transition: 0.3s;
        }

            #footer .footer-top .social-links a:hover {
                background: #18d26e;
                color: #fff;
            }

    #footer .footer-top h4 {
        font-size: 14px;
        font-weight: bold;
        color: #229954;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 12px;
    }

            #footer .footer-top h4::before, #footer .footer-top h4::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 2px;
            }

            #footer .footer-top h4::before {
                right: 0;
                background:#8d4040;
            }

            #footer .footer-top h4::after {
                background: #9d426b;
  
            }

        #footer .footer-top .footer-links {
            margin-bottom: 30px;
        }

            #footer .footer-top .footer-links ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }

                #footer .footer-top .footer-links ul i {
                    padding-right: 8px;
                    color: #ddd;
                }

                #footer .footer-top .footer-links ul li {
                    border-bottom: 1px solid #333;
                    font-size: 13px;
                    padding: 10px 0;
                }

                    #footer .footer-top .footer-links ul li:first-child {
                        padding-top: 0;
                    }

                #footer .footer-top .footer-links ul a {
                    color: #eee;
                }

                    #footer .footer-top .footer-links ul a:hover {
                        color: #18d26e;
                    }

        #footer .footer-top .footer-contact {
            margin-bottom: 30px;
        }

            #footer .footer-top .footer-contact p {
                color: white;
                line-height: 20px;
                font-size: 13px;
            }

        #footer .footer-top .footer-newsletter {
            margin-bottom: 30px;
        }

            #footer .footer-top .footer-newsletter input[type="email"] {
                border: 0;
                padding: 6px 8px;
     
            }

            #footer .footer-top .footer-newsletter input[type="submit"] {
                background: #18d26e;
                border: 0;
                padding: 6px 0;
                text-align: center;
                color: #fff;
                transition: 0.3s;
                cursor: pointer;
            }

                #footer .footer-top .footer-newsletter input[type="submit"]:hover {
                    background: #13a456;
                }

.footer.copyright {
    font-family: "Montserrat", sans-serif;
    width: 500px;
    margin: auto;
    border: 3px solid #73AD21;
}